html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
    --black: black;
    --green: #8ADB53;
  }

/* Basic Styles */
body {
    margin: 0;
    font-family: 'GT Pressura Mono Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, button {
    font-family: 'Value Serif Bold';
}

.important-paragraph-text, .product-item-price, .footer-logo-tagline {
    font-family: 'Value Serif Pro Regular';
}

h1 {
    font-size: 4.688rem;
}

nav {
    /* font-size: 1.5rem; keep for reference ratio */
    font-size: 1.1rem;
}

h2 {
    /* font-size: 2.813rem; keep for reference ratio */
    font-size: 2.5rem;
}

h3 {
    /* font-size: 2.813rem; keep for reference ratio */ 
    font-size: 1.4rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

footer {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

button {
    width: auto;
    height: 60px;
    padding: 0 65px;
    background-color: black;
    color: white;
    font-family: 'Value Serif Bold';
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: var(--green);
    color: var(--black);
}

/* Home Styles */

.main-content {
    margin: 0 auto;
    padding: 0 75px;
    max-width: 1240px;
}

.logo {
    background: url('../img/logo.png') no-repeat;
    background-size: 210px;
    width: 210px;
    text-indent: -99999px;
}

.nav {
    display: flex;
}

.nav-item {
    margin-left: 30px;
}

.nav-item a:hover {
    color: var(--green);
}

.nav-item.selected a {
    color: var(--green);
}

.nav-item.selected a:hover {
    color: var(--black);
}

.main-image-content {
    margin-top: 30px;
    max-width: 100%;
}

.image-container {
    position: relative;
}

.main-image-content img {
    width: 100%;
    max-width: 100%;
}

.image-button {
    position: absolute;
    background-color: white;
    color: var(--black);
    left: 38%;
    top: 75%;
    white-space: nowrap;
}

.main-button:hover {
    background-color: var(--black);
    color: white;
}

.tagline-content {
    margin-top: 50px;
    text-align: center;
}

.tagline-content h2 {
    margin-bottom: 15px;
}

.important-paragraph-text {
    font-size: 1.1rem;
}

.products-section {
    margin-top: 50px;
}

.products-section h3 {
    margin-bottom: 15px;
}

.products {
    display: flex;
}

.product-item {
    max-width: 400px;
}

.product-item h4 {
    margin-top: 15px;
}

.product-item-price {
    margin-top: 5px;
}

.product-item.middle {
    margin: 0 20px;
}

.product-item img {
    width: 100%;
}

.address-content {
    margin-top: 50px;
}

.address-content h3 {
    margin-bottom: 20px;
}

.address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address-left {
    margin: 0 auto;
}

.address-content-p {
    font-size: 1.5rem;
    text-align: center;
}

.address-right img {
    width: 100%;
    max-width: 635px;
}

.logo.footer {
    margin-bottom: 0px;
    height: 65px;
}

.footer-logo-tagline {
    font-size: 1rem;
}

.footer-social-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.footer-social-links img {
    width: 100%;
    max-width: 35px;
    margin-left: 5px;
}

.copyright-text {
    font-size: 1.1rem;
}

